ion-slides {
  height: 100vh;

  ion-slide {
    height: 100%;
  }
}

.wrapper-wallet {
  width: 100%;
  height: 100%;
  padding: 0 23px;
  padding-bottom: 80px;
  overflow: auto;
  font-family: "Poppins";
  text-align: left;
  overflow: auto;

  ion-input.custom {
    --background: #ffffff;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    background: #ffffff;
    height: 56px;
    box-shadow: 0px 4px 10px rgba(56, 68, 251, 0.08);
    border-radius: 12px;
    margin-top: 18px;
  }

  .has-focus {
    border: 1px solid #343edf;
  }

  .__header {
    margin-top: 27.73px;
    margin-bottom: 29.41px;

    .logo-brand {
      display: flex;
      justify-content: left;
      align-items: center;

      h1 {
        margin-left: 12px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #202046;
      }
    }
  }

  .__main {
    .your-balance {
      font-family: "Poppins";

      .title {
        display: flex;
        align-items: center;
        color: rgba(25, 22, 61, 0.8);
        font-weight: 600;
        font-size: 14px;
      }

      .total-money {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;

        h3 {
          --color: #19163d;
          color: #19163d;
        }
      }
    }

    .submit {
      margin: unset;
      width: 100%;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      padding: 12px 0;
      background: linear-gradient(135.54deg, #55adf8 -0.96%, #0f38a9 100%);
      border-radius: 24px;
      margin-top: 40px;
    }

    .cancel {
      background: #ffffff;
      border-radius: 24px;
      color: #466ee0;
      border: 1.5px solid #466ee0;
    }

    .my-card {
      .__header {
        margin-bottom: 16px;

        .title {
          font-weight: 700;
          font-size: 13px;
          line-height: 30px;
          color: #202046;
        }

        .total-money {
          span {
            color: #343edf;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: right;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }

        .add-card {
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          text-align: right;
          color: #466ee0;
        }
      }

      .__main {
        .total-card {
          margin-bottom: 16px;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #9896a8;
        }

        .card-list {
          .__item {
            box-shadow: 0px 4px 10px rgba(56, 68, 251, 0.08);
            border-radius: 12px;
            padding: 12px 16px;
            margin-bottom: 15px;
            border: 1px solid #fff;

            .__thumnail {
              width: 60px;
              height: 60px;
              padding: 15px 3px;
              margin-right: 16px;
              //background: #d8eeff;
              box-shadow: 0px 12px 30px rgba(20, 40, 80, 0.05);
              border-radius: 12px;
            }

            .__content {
              .name {
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: #202046;
                margin: 5px 0;
              }

              .description {
                .__number {
                  font-weight: 400;
                  font-size: 10px;
                  line-height: 16px;
                  color: rgba(25, 22, 61, 0.8);
                  margin-right: 21px;
                }

                .__ex-date {
                  font-weight: 400;
                  font-size: 10px;
                  line-height: 16px;
                  color: #466ee0;
                }
              }
            }
          }

          // color background
          .active {
            background: #ceeaff;
            border: 1px solid #23d288;
          }

          .light-blue-400 {
            background: #e3e3fe;
          }

          .white {
            background: #ffffff;
          }
        }

        .add-withdrawal {
          padding: 12px 16px;
          box-shadow: 0px 4px 10px rgba(56, 68, 251, 0.08);
          border-radius: 12px;

          .__add_card {
            width: 60px;
            height: 60px;
            margin-right: 16px;
            background: #ffffff;
            border-radius: 12px;
          }

          .__content_add {
            display: flex;
            align-items: center;

            .name {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #343edf;
            }
          }
        }
      }
    }
  }
}

.error {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #eb5757 !important;
  margin-top: 5px;
}

.chip-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(25, 22, 61, 0.45);
  margin-top: 10px;
}

.amount-chip {
  display: flex;

  .chip-button {
    background: #ffffff;
    border-radius: 12px;
    padding: 4px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    box-shadow: 0px 4px 10px rgba(56, 68, 251, 0.08);
  }

  .active {
    border: 1px solid #4fb4ed;
    color: #466ee0;
  }
}

.wrapper-otp {
  font-family: "Nunito";
  height: 100%;
  background: #ffffff;
  text-align: left;
  padding: 0 23px;
  width: 100%;
  overflow: auto;

  .item-native {
    border-left: unset;
    border-right: 1px solid rgba(25, 22, 61, 0.45);
    padding-inline-start: unset;
  }

  ion-item {
    --background: white;
    color: #313131;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
  }

  .header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #313131;
    padding-top: 16px;
  }

  .sub-header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #313131;
    opacity: 0.5;
    padding-top: 8px;
  }

  .sub-header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #313131;
  }

  .logo-img {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-top: 32px;
  }

  .not-receive-otp {
    color: #313131;
  }

  .resend {
    color: #5279e7;
    font-weight: bold;

    span {
      color: #5279e7;
      font-weight: bold;
    }
  }

  .resend-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #9896a8;
  }

  .countdown {
    p,
    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #474564;
    }
  }

  .logo-img-otp {
    margin-top: 27.73px;
    margin-bottom: 29.41px;

    .logo-brand {
      display: flex;
      justify-content: left;
      align-items: center;

      h1 {
        margin-left: 12px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #202046;
      }
    }
  }

  .content-login {
    margin-top: 30px;
  }

  p,
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: rgba(25, 22, 61, 0.8);
    font-family: "Poppins";
  }

  .form-request {
    width: 100%;
  }

  .form-confirm {
    width: 100%;
    margin-top: 32px;

    input.otp-input-custom {
      width: 44px;
      height: 60px;
      background: #f6f7f9;
      --background: #f6f7f9;
      border-radius: 8px;
      margin: 0 9px !important;
      text-align: center !important;
      color: #878787 !important;

      &:focus {
        outline: none;
      }
    }

    .confirm {
      font-family: "Poppins";
      margin-left: 18px;
      margin-right: 18px;
      margin-top: 95px;
      width: 100%;
      height: 58px;
      --padding-start: 24px;
      --padding-end: 24px;
      --background: linear-gradient(135.54deg, #55adf8 -0.96%, #0f38a9 100%);
      --border-radius: 24px;
      --box-shadow: none;
      text-transform: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #f9f9f9;
    }
  }

  .input-field {
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    mix-blend-mode: normal;
    opacity: 0.75;
    border-bottom: 1px solid rgba(22, 18, 64, 0.15);
    box-shadow: unset;

    input {
      width: 100%;
      padding: 14px 10px 13px 95px;
      background: #fff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #313131;

      &:focus {
        outline: none;
      }
    }

    ion-label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #313131;
      border-right: 1px solid rgba(25, 22, 61, 0.45);
      padding-right: 10px;
      display: flex;
    }
  }
}

.animatedRequest {
  animation-name: animatedRequest;
  animation-duration: 0.5s;
}

@keyframes animatedRequest {
  0% {
    transform: translate(0);
  }
  70% {
    transform: translateX(-120%);
  }
  100% {
    display: none !important;
    transform: translateX(-120%);
  }
}

.animatedConfirm {
  animation-name: animatedConfirm;
  animation-duration: 0.8s;
}

@keyframes animatedConfirm {
  0% {
    display: block !important;
    transform: translate(100%);
  }

  100% {
    transform: translateX(0);
  }
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: blue;
}

ion-radio.ios {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios {
  border-color: blue;
}

ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #1c6dff;
  color: #1c6dff;
}

.error {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #eb5757 !important;
}

.d-flex {
  display: flex;
}

.__thumnail_icon {
  width: 50px;
  height: 50px;
  padding: 15px 3px;
  margin-right: 16px;
  //background: #d8eeff;
  box-shadow: 0px 12px 30px rgba(20, 40, 80, 0.05);
  border-radius: 12px;
}

.ml-2 {
  margin-left: 9px !important;
}

.detail-transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  gap: 16px;
  background: #ffffff;
  border: 1px solid #c8c8d6;
  border-radius: 16px;

  .feature-list {
    width: 100%;
    padding: 9px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      .border-li {
        border-bottom: 1px dashed #dddddd;
      }

      &:hover {
        background: #f7f7f7dd;
      }

      .__name {
        display: flex;
        align-items: center;
        color: #3d6670;
        margin-left: 15px;
        font-size: 12px;

        .icon {
          //width: 36px;
          //height: 36px;
          //background: #f1f3f6;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 10px;
          margin-right: 10px;

          ion-icon {
            color: #94afb6;
            font-size: 13px;
          }
        }
      }

      .not-icon {
        margin-left: 27px;
      }

      .__value {
        display: flex;
        align-items: center;
        color: #3d6670;
        margin-right: 20px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: right;

        .amount {
          color: #23d288;
        }
      }
    }

    :last-child {
      border: none;
    }
  }
}

.add-button {
  box-shadow: 0px 4px 10px rgba(56, 68, 251, 0.08) !important;
  border-radius: 12px;
}

.card-form {
  border-radius: 12px;

  ion-button.submit {
    font-family: "Poppins";
    margin-top: 70px;
    --background: linear-gradient(135.54deg, #4fb4ed -0.96%, #343edf 100%);
    --border-radius: 24px;
    --box-shadow: none;
    text-transform: none;
    height: 48px;
    width: 100%;
    color: #fff;
    font-weight: 600;
  }

  form {
    .icon {
      width: 48px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: #f1f3f6;
      border: 1px solid #dddddd;
      border-radius: 5px;
      right: 8px;
      bottom: 7px;
      z-index: 10;
    }
  }
}

.form-type {
  padding-top: 0;
  margin-top: 41px;

  .type {
    padding-bottom: 25px;
    border-bottom: 1px dashed #dddddd;

    .card-title {
      color: #94afb6;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 6px;
    }

    .card-types {
      display: flex;
      align-items: center;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #404cb3;
      color: #404cb3;

      li {
        flex: 1;
        padding: 6px 8px;

        text-align: center;
      }

      .active {
        background: #404cb3;
        color: #fff;
      }
    }
  }
}

.notice {
  color: red;
}

[v-cloak] {
  display: none;
}

label {
  font-weight: bold;
  color: #666;
}

div.error,
li.error {
  color: #f00;
}

.card-header {
  font-weight: 500;
}

.card-number {
  padding-right: 20px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.9rem;
  cursor: pointer;
}

i {
  font-size: 1.5rem;
}

th {
  padding: 5px;
  background: #eee;
}

td {
  padding: 0 5px;
  border-bottom: 1px solid #eee;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

input:focus {
  outline: none;
}

.hasError {
  border-color: red;
}

.validate-message {
  color: red;
  font-size: 13px;
}

ion-label {
  font-weight: 500;
  font-size: 14px;
  color: #9896a8;

  span {
    color: red;
  }
}
.sbmBtn {
  margin: unset;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 0;
  background: linear-gradient(135.54deg, #55adf8 -0.96%, #0f38a9 100%);
  border-radius: 24px;
  margin-top: 10px;
}
