.wrapper-verifyOtp {
  width: 100%;
  height: 100%;
  padding: 28px;
  font-family: "Poppins";

  .__header {
    margin-bottom: 31px;

    .nav-left {
      .goback {
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(8, 15, 24, 0.1);
        border-radius: 12px;
        margin-right: 12px;
        padding: 11px 14px;
      }
      h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #202046;
      }
    }
  }
  .wrapper-otp {
    width: 100%;
    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #19163d;
      margin-bottom: 8px;
    }
    .description {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #19163d;
      margin-bottom: 32px;
      .phone {
        font-weight: 600;
      }
    }

    .wrapper-resend {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      margin-top: 16px;
      margin-bottom: 32px;
    }
    .resend {
      color: #5279e7;
      font-weight: bold;
      span {
        color: #5279e7;
        font-weight: bold;
      }
    }

    .resend-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #9896a8;
    }

    .countdown {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #474564;
    }
    .btn-confirm {
      padding: 17px 110px;
      color: #f9f9f9;
      text-align: center;
      border-radius: 24px;
      background: linear-gradient(135.54deg, #4fb4ed -0.96%, #343edf 100%);
    }

    .disabled {
      background: #c8c8d6;
    }
  }
}
